<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - Editar Local de Consulta</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">

<!-- h1>Editing Local  </h1 -->

<%= render 'form', local: @local %>

<%= link_to 'Mostrar', @local %> |
<%= link_to 'Voltar', locais_path %>
