<header class="w3-container w3-teal">
    <h1>Agende R&aacute;pido - Cadastrar Novo Local de Consulta</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">

<!-- h1>New Local  </h1 -->

<h1>New Local</h1>

<%= render 'form', local: @local %>
<%= link_to 'Back', locais_path %>
