// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body{
    margin: 0;
}

a{
    color: black;
}

//= depend_on_asset "medico.jpg"

.home{

    background-image: url( image_path( 'medico.jpg') );

    // background-size: 100%;
    // height: 1000px;

	background-position: center;
    	background-size: cover;
	min-height: 100%;



}

.header{
    text-align: right;
    font-size: 24px;

}




