<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - Editar M&eacute;dico</h1>
</header>
<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">


<!-- h1>Editar Medico</h1 -->

<%= render 'form', medico: @medico %>
<%= link_to 'Mostrar', @medico %> |
<%= link_to 'Voltar', medicos_path %>
