<header class="w3-container w3-teal">
    <h1>Agende R&aacute;pido - Cadastrar Novo Medico</h1>
</header>

<div class="w3-container w3-half w3-margin-top">
<div class="w3-container w3-card-4">

<%= render 'form', medico: @medico %>
<%= link_to 'Voltar', medicos_path %>
