<!DOCTYPE html>
<html>
<title>>Agende R&aacute;pido</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="w3.css">

<body>

<header class="w3-container w3-teal">
  <h1>Agende R&aacute;pido - CADASTRAR</h1>
</header>

<div class="w3-container w3-half w3-margin-top">

<form class="w3-container w3-card-4">

<p>
<input class="w3-input" type="text" style="width:90%" required>
<label>CPF*</label></p>

<p>
<input class="w3-input" type="text" style="width:90%" required>
<label>CNS (Cart&atilde;o Nacional SUS)*</label></p>

<p>
<input class="w3-input" type="text" style="width:90%" required>
<label>Nome Completo*</label></p>

<p>
<input class="w3-input" type="text" style="width:90%" required>
<label>Data de Nascimento*</label></p>

<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>E-mail*</label></p>

<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Confirma&ccedil;&atilde;o de E-mail*</label></p>

<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Telefone Celular*</label></p>

<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Senha*</label></p>

<p>
<input class="w3-input" type="password" style="width:90%" required>
<label>Confirma&ccedil;&atilde;o da Senha*</label></p>


<p>
<input class="w3-radio" type="radio" name="gender" value="male" checked>
<label>Masculino</label></p>

<p>
<input class="w3-radio" type="radio" name="gender" value="female">
<label>Feminino</label></p>

<input id="milk" class="w3-check" type="checkbox" checked="checked">
<label>Permane&ccedil;a logado</label></p>

<p>
<button class="w3-button w3-block w3-teal w3-section w3-padding" type="submit">CADASTRAR</button></p>

<p>
  <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
  	<button onclick="document.getElementById('id01').style.display='none'" type="button" class="w3-button w3-red">Cancelar</button>
    <span class="w3-right w3-padding w3-hide-small">Voc&ecirc; j&aacute; tem uma conta? <a href="#">Entrar</a></span>
  </div></p>

</form>

</div>

</body>
</html> 
